img{
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}
main{
    display: flex;
    justify-content: center;
    height: 100vh;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: blueviolet;
    color: #fff;
    outline: none;
    border: none;
}